{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-right">
            <a class="sf-button" href="{{ path('job_new') }}"><button type="button" class="btn">Create a new job</button></a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-condensed">
            <thead>
            <tr class="text-center">
                <th>Location</th>
                <th>Position</th>
                <th>Company</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.location }}</td>
                    <td><a href="{{ path('job_show', { 'id': job.id, 'company': job.companySlug, 'location': job.location, 'position': job.position }) }}">{{ job.position }}</a></td>
                    <td>{{ job.company }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
