{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ job.position }}</h1>
    <span><a class="btn btn-default" href="{{ path('job_index') }}">Back to the list</a></span>
    <span><a class="btn btn-default" href="{{ path('job_edit', { 'id': job.id }) }}">Edit</a></span>
    <span>
        {{ form_start(delete_form) }}
        <input class="btn btn-default" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </span>
    <table class="table-responsive table-condensed">
        <tbody>

            <tr>
                <th>Type</th>
                <td>{{ job.type }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img style="width: 130px" src="{{ asset('uploads/jobs/') }}{{ job.logo }}" alt="{{ job.company }}"></td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ job.url }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ job.position }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>How to apply</th>
                <td>{{ job.howToApply }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ job.email }}</td>
            </tr>
            <tr>
                <th>Posted on</th>
                <td>{% if job.createdat %}{{ job.expiresAt|date('d/m/Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
